&i2c1 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	pinctrl-0 = <&i2c1_default>;
	pinctrl-1 = <&i2c1_sleep>;
	pinctrl-names = "default", "sleep";
	zephyr,concat-buf-size = <2048>;
	clock-frequency = <100000>;
	
	mlx_sensor: mlx90614@5a {
		status = "okay";
		compatible = "i2c-device";
		reg = <0x5a>;
	};
	
	ssd1306: ssd1306@3c {
		status = "okay";
		compatible = "solomon,ssd1306fb";
		reg = <0x3c>;
		width = <128>;
		height = <32>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <31>;
		segment-remap;
		com-invdir;
		com-sequential;
		prechargep = <0x22>;
	};
};

/ {
	zephyr,user {
		mlx-sda-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
		mlx-scl-gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
	};
	buttons {
		compatible = "gpio-keys";
		my_button0: button_0 {
			gpios = <&gpio1 15 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "User Button0";
		};
		my_button1: button_1 {
			gpios = <&gpio1 14 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "User Button1";
		};
	};
};

/*
/ {
	i2c_sw: i2c-gpio-0 {
		compatible = "gpio-i2c";
		status = "okay";
		sda-gpios = <&gpio0 28 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP | GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP | GPIO_OPEN_DRAIN)>;
		clock-frequency = <100000>;
		#address-cells = <1>;
		#size-cells = <0>;
		
		mlx_sensor: mlx90614@5a {
			compatible = "i2c-device";
			reg = <0x5a>;
			status = "okay";
		};
	};
	
	zephyr,user {
		mlx-sda-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
		mlx-scl-gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
	};
};
*/

/*
&qspi {
	status = "disabled";
};
*/